<div class="text-center transition-all hover:scale-105 max-w-xs mx-auto">
  <div class="w-50 h-64 mb-4 overflow-hidden rounded-lg">
    <img [src]="image" class="img w-full h-full object-cover" alt="{{ title }}">
  </div>
  <h3 class="text-xl font-bold text-primary">{{ title }}</h3>
  <p class="text-secondary">{{ description }}</p>

  <!-- Instagram Section -->
  <div class="mt-4">
    <a href="{{ instagram }}" target="_blank" class="text-[#FFFFFF] flex items-center justify-center space-x-2">
      <img class="w-7 h-7" src="assets/instagram.svg" alt="">
      <span>{{ nomeInstagram }}</span>
    </a>
  </div>
</div>
