@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

header {
  @include mobile {
    display: grid;
    justify-content: center;
  }
}

.iconSetaBaixo {
  display: none;
  @include mobile {
  display: flex;
  justify-content: center;
  }
}

button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: #FFF; /* Cor das setas */
    font-size: 2rem; /* Tamanho da fonte para as setas */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Suaviza o movimento e a opacidade */
  }
  
  button:hover {
    opacity: 0.8;
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
  }
  
  .grid {
    display: grid;
    gap: 8px;
    transition: transform 0.5s ease-in-out; /* Transição suave para a mudança de posição dos cards */
  }

  .textoHearder:nth-child(2) {
    align-self: center;
  }
  